RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !=/favicon.ico

# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine on

#--------------------------------------------------
# Règles de réécriture d'URL :
#--------------------------------------------------

# HomePage name
RewriteRule accueil templates/index.php
RewriteRule profil/([a-zA-Z0-9\-]+) templates/profile.php?tab=$1
RewriteRule commander templates/order.php
RewriteRule connexion templates/auth/login.php
RewriteRule inscription templates/auth/register.php
RewriteRule finir-inscription templates/auth/register-password.php