@import 'var';

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
	padding: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: $secondaryTextColor;
	width: 8px !important;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:active {
	background: $primaryTextColor
}

#scrollUp {
	position: fixed;
	bottom: 30px;
	right: 30px;
	height: 50px;
	width: 50px;
	border-radius: 35px;
	opacity: 0;
	background-color: $primaryTextColor;
	color: $bodyBgColor;
	transition: opacity ease-in-out 0.2s;

	a {
		width: 100%;
		height: 100%;
		border-radius: 35px;
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			width: 70%;
			height: 70%;
			filter: invert(1);
			user-select: none;
		}
	}

	&:hover {
		opacity: 1;
		cursor: pointer;
	}
}

.btn {
	color: $bodyBgColor;
	background-color: $accent;
	border-radius: 100px;
	transition: background-color, transform, 0.3s;
	border: 2px solid $accent;
	width: fit-content;
	display: flex;
	align-items: center;
	flex-direction: row;
	line-break: none;

	a {
		transition: none;
		color: $bodyBgColor  !important;
		font-size: 1.1em;
		font-weight: 500 !important;
		padding: 10px 30px;
		width: 100% !important;
		height: 100% !important;
		display: block;
		line-break: none;
		user-select: none;

		// &::after{
		// 	content: "→";
		// 	font-size: 0em;
		// 	margin-left: 0;
		// 	height: 0;
		// 	transition: all 0.3s;
		// }

		// &:hover::after{
		// 	font-size: 1em;
		// 	margin-left: 5px;
		// }
	}

	&::after {
		display: none;
	}

	&:hover {
		background-color: darken($accent, 10%);
		border-color: darken($accent, 10%);
	}

	&:active {
		transform: scale(95%);
	}
}

.btn-transparent {
	border-color: $accent;
	background-color: transparent !important;

	a {
		color: $accent  !important;

		&:hover {
			color: $bodyBgColor  !important;
		}
	}

	&:hover {
		background-color: darken($accent, 10%) !important;
	}
}

.btn-noborder {
	border-color: transparent;
	background-color: transparent;
	position: relative;

	a {
		color: $secondaryTextColor  !important;
		padding: 0;
		transition: color 0.2s;

		&::after {
			content: "→";
			margin-left: 10px;
			transition: margin-left 0.2s;
		}

		&:hover {
			color: $primaryTextColor  !important;

			&::after {
				margin-left: 18px;
			}
		}
	}

	&:hover {
		background-color: transparent;
		border-color: transparent;
	}

}

.btn-img {
	height: 40px !important;
	padding: 10px 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: max-content !important;
	margin-left: 15px;
	transition: transform, 0.4s;
	background-color: $accent  !important;
	border-radius: 50px;

	img {
		filter: invert(100%);
	}

	&:active {
		background-color: #99ffaa !important;
	}
}

.btn-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: calc($defaultPadding / 2);
}

#map {
	height: 400px !important;
	width: 100%;
}

.bread-img {
	width: 100%;
}

.nature-progrès-logo {
	height: 250px;
	margin: 0 auto;
	border: 2px solid #018647;
}

.card {
	display: flex;
	background-color: $boxBgColor;
	padding: $defaultPadding;
	border-radius: 20px;
	flex-direction: column;

	.img {
		height: 150px;
		width: 250px;
		background-size: cover !important;
		background-repeat: none !important;
		background-position: center !important;
		border-radius: 20px;
	}

	h3 {
		color: $primaryTextColor;
	}
}