@import 'var';

.page-footer {
  background-color: $boxBgColor;
  padding: $defaultPadding;
  margin: 0 auto;

  .footer-links {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 30px;

    ul {
      &:not(:last-child) {
        margin-right: 70px;
      }

      li {
        a {
          p{
            color: $secondaryTextColor;
            font-size: 1em;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .footer-section-title {
        color: #000;
        font-size: 1em;
      }
    }

    .call-to-action {
      input {
        background-color: $bodyBgColor;
        border: 2px solid darken($bodyBgColor, 5%);
        padding: 10px 20px;
      }
    }
  }
}

.copyright {
  color: #6c6c6c;
  text-align: center;
}
