@import 'var';

.hero{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: calc($defaultPadding * 2);
    width: 100%;
    height: max-content;
    max-width: calc($maxElementsWidth - (2 * $defaultPadding));
    margin: 0 auto;
    padding: $defaultPadding;

    .hero-text-content a{
      text-decoration: underline !important;
    }

    .hero-text-content p:not(:first-child){
      margin-top: calc($defaultPadding / 8);
    }

    .hero-text-content:not(:last-child){
      margin-bottom: $defaultPadding;
    }
  }
}

.hero-splitted{
  gap: calc(2* $defaultPadding);
  .content{
    flex-direction: row !important;
    align-items: center;
    text-align: left;
    padding: 0;

    .side{
      padding: $defaultPadding;
    }
  }
}

.hero-colored{
  background-color: var(--accent);
  
  h1, h2, h3, h4, h5, h6, p, a{
    color: #fff;
  }
}

.hero-no-padding{
  .content{
    max-width: 100%;
    padding: 0;
    gap: 0;

    .less-important-side{
      padding: $defaultPadding;
    }
  }
}

.side{
  flex: 10;
}

.less-important-side{
  flex: 6 !important;
}


@media screen and(max-width: 817px){
  .hero{
    flex-direction: column;
    .content{
      flex-direction: column;
      justify-content: left !important;
    }
  }

  .btn-container{
    margin: 0 !important;
  }

  .hero-no-padding{
    .content{
      flex-direction: column-reverse;
    }
  }

  .no-mobile{
    display: none;
  }

  .side{
    height: max-content;
  }

  #map{
    height: 400px !important;
    flex-grow: 15;
  }
}

@media screen and(max-width: 1024px){
  .hero-splitted{
    .side{
      flex: 10 !important;
    }
  }
}