@import 'var';

.profile-header{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: $defaultPadding;

  nav{
    width: 100%;

    ul{
      display: flex;
      flex-direction: row;
      gap: $defaultPadding;
      max-width: $maxElementsWidth;
      margin: 0 auto;

      li{
        border-bottom: 2px solid transparent;
        a{
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 5px;
          height: 30px;
          line-height: 30px;

          span{
            font-weight: 400;
            font-size: 1.2em;
            color: $secondaryTextColor;
          }

          i{
            color: $secondaryTextColor;
          }
        }
      }

      .active-profile-tab{
        border-bottom-color: $accent !important;

        span, i {
          color: $accent;
          font-weight: 600;
        }
      }
    }
  }
}

.profile-content-section{
  max-width: $maxElementsWidth;
  margin: 0 auto;
  margin-bottom: $defaultPadding;
  padding: $defaultPadding;
  border: 1px solid $borderColor;
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  h2{
    i{
      margin-right: 15px !important;
      font-size: 0.8em;
    }
  }

  .content{
    display: flex;
    justify-content: space-between;
    padding: $defaultPadding 0;
  }

  input[type=submit] {
    position: relative;
    width: fit-content;
    float: right;
    background-color: $accent;
    color: $bodyBgColor;
    padding: 10px 20px;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 15px;
  }
}

.danger-zone{
  h2, p{
    color: #ff0000;
  }

  border-color: #ff0000;
  background-color: #ff000015;

  input[type=submit] {
    background-color:#ff0000;
    font-weight: 800;
  }
}

.form-group{
  display: flex;
  flex-direction: column;

  label{
    color: $secondaryTextColor;
  }

  input {
    width: 100%;
    padding: 5px 15px;
    font-size: 1.2em;
  }
}

.logout-btn{
  font-size: 0.5em;
  margin-left: 5px;
}



.bills{
  display: flex;
  flex-direction: column;
}

.bill{
  border-bottom: 1px solid $borderColor;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:first-child {
    border-top: 1px solid $borderColor;
  }

  .bill-title, .bill-price{
    font-weight: 600;
  }

  .bill-price{
    font-size: 1.5em;
  }

  .bill-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    a{
      display: block;
      width: 40px;
      height: 40px;
      font-size: 1.5em;
      text-align: center;
      line-height: 40px;
    }
  }
}