/* colors */
$accent : #bdaf8d;

$bodyBgColor: #fff;
$boxBgColor: #e6e6e6;

$primaryTextColor: #000;
$secondaryTextColor: #9b9b9b;

$borderColor: #ccc;


/* sizes */
$maxElementsWidth: 1200px;
$defaultPadding: 25px;
$topBarHeight: 80px;