/* colors */
:root {
  --accent : #bdaf8d;

  --body-bg-color: #fff;
  --box-bg-color: #f3f3f3;

  --primary-text-color: #000;
  --secondary-text-color: #9b9b9b;

  --border-color: #ccc;

  --green-normal: #41cf7c;
  --red-normal: #f25353;


  /* sizes */
  $maxElementsWidth: 1200px;
  $defaultPadding: 25px;
  $topBarHeight: 80px;
}